INCLUDE("tecsgen.cfg");

#include "app.h"

CRE_TSK( MAIN_TASK, { TA_ACT,  0, main_task,   MAIN_PRIORITY,   STACK_SIZE, NULL } );

/* PET探索用のタスク */
CRE_TSK( SEARCH_TASK, { TA_NULL, 0, search_task, SEARCH_PRIORITY, STACK_SIZE, NULL } );
CRE_CYC( SEARCH_CYC,  { TA_NULL, { TNFY_ACTTSK, SEARCH_TASK }, 50 * 1000, 1 * 1000 } );

